---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: kube-system
spec:
  repo: https://argoproj.github.io/argo-helm
  chart: argo-cd
  targetNamespace: argocd
  valuesContent: |-
    server:
      service:
      #  type: ClusterIP
        type: NodePort
        nodePort: 30080
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: helm-argocd-apps
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ argo_repo }}
    targetRevision: HEAD
    path: {{ argo_repo_path }}
    helm:
      valueFiles:
        - {{ argo_values_file }}
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
