{% for host in groups['rke2'] %}
---
apiVersion: crd.projectcalico.org/v1
kind: CalicoNodeStatus
metadata:
  name: "calico-node-{{ host }}"
spec:
  classes:
    - Agent
    - BGP
    - Routes
  node: "{{ host }}"
  updatePeriodSeconds: 10
{% endfor %}
