apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  # Configures Calico networking.
  calicoNetwork:
    ipPools:
    - name: default-ipv4-ippool
      blockSize: 26
      cidr: 10.42.0.0/16
      encapsulation: VXLANCrossSubnet
      natOutgoing: Enabled
      nodeSelector: all()
---
apiVersion: operator.tigera.io/v1
kind: APIServer
metadata:
  name: default
spec: {}
---
apiVersion: crd.projectcalico.org/v1
kind: BGPConfiguration
metadata:
  name: default
spec:
  nodeToNodeMeshEnabled: true
  asNumber: 64512
  serviceClusterIPs:
    - cidr: 10.43.0.0/16
---
apiVersion: crd.projectcalico.org/v1
kind: BGPPeer
metadata:
  name: bgp-peer-to-router
spec:
  peerIP: "{{ peerIP }}"
  asNumber: {{ asNumber }}
  keepOriginalNextHop: true
  maxRestartTime: 15m
---
