apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-calico
  namespace: kube-system
spec:
  valuesContent: |-
    installation:
      calicoNetwork:
        bgp: Enabled

---
apiVersion: crd.projectcalico.org/v1
kind: BGPConfiguration
metadata:
  name: default
spec:
  asNumber: 64513
  nodeToNodeMeshEnabled: true
  serviceClusterIPs:
    - cidr: 10.43.0.0/16
---
apiVersion: crd.projectcalico.org/v1
kind: BGPPeer
metadata:
  name: bgppeer-to-opnsense
spec:
  peerIP: "{{ peerIP }}"
  asNumber: "{{ asNumber }}"
  keepOriginalNextHop: true
  maxRestartTime: 15m
---
