apiVersion: projectcalico.org/v3
kind: BGPConfiguration
metadata:
  name: default
spec:
  asNumber: 64513
  nodeToNodeMeshEnabled: true
  serviceClusterIPs:
    - cidr: 10.43.0.0/16
  serviceExternalIPs:
    - cidr: 172.18.128.0/18
  serviceLoadBalancerIPs:
    - cidr: 172.18.192.0/18
---
apiVersion: projectcalico.org/v3
kind: BGPPeer
metadata:
  name: bgppeer-to-opnsense
spec:
  peerIP: "{{ router_peer_ip }}"
  asNumber: "{{ as_number }}"
  keepOriginalNextHop: true
  maxRestartTime: 15m
---
