apiVersion: projectcalico.org/v3
kind: CalicoNodeStatus
metadata:
  name: "calico-node-{{ inventory_hostname }}"
spec:
  classes:
    - Agent
    - BGP
    - Routes
  node: "{{ inventory_hostname }}"
  updatePeriodSeconds: 10
