write-kubeconfig-mode: "0644"
advertise-address: {{ ansible_host }}
node-ip: {{ ansible_host }}
tls-san:
  - {{ vip }}
{% for host in groups['servers'] %}
  - {{ hostvars[host]['ansible_host'] }}
{% endfor %}
node-label:
  - server=true
disable:
  - rke2-ingress-nginx
